/* Write your CSS here! */
/* element selectors */
body {
    margin: 8px;
    display: block;
    background-color: rgba(198, 225, 238, 0.827);
}

h2 {

}

main {
    margin-left: 175px;
    padding: 0px 10px;
}



/* .class selectors */
.funParagraph{
    color: green;
    border-style: groove;
    padding: 20px;
    /* background-color: rgb(75, 68, 68); */
}




/* #Id selectors */
#mainHeading{
    text-align: center;
    background-color:rgb(137, 176, 208);
    /* margin: 90px; */
    border-style: outset;
    /* border-radius: 8px; */
    user-select: none;
    color: red;
    /* width: ; */
    
    
}

#testP{
    color: black;
}

#toc{
    background-color: rgb(137, 176, 208);
    text-align: center;
    position: fixed;
    /* height: 100%; */
    padding-bottom: 6%;
    font-size: large;
    
    /* border: 9px; */
    border-style: outset;
    /* border-radius: 8px; */
    width: 175px;
    
    
}

#tocHeader{
    text-align: center;
}